.radius-1 {
    border-radius: .5rem;
  }
  .radius-2 {
    border-radius: .75rem;
  }
  .radius-3 {
    border-radius: 1rem;
  }
  .radius-4 {
    border-radius: 2rem;
  }

  .form-control:focus {
    border-color: map.get($colors, "primary" , "cyan");
    box-shadow: 0 0 0 0.25rem #2acfcf66;
  }

  .logo {
    background: url("./../images/logo.svg") no-repeat center center;
    width: 121px;
    height: 33px;
    margin: 0;

    &.logo-white {
      filter: invert(1);
    }
  }

  .input-error {
    border-color: map.get($colors, "secondary" , "red");
    &::placeholder {
      color: map.get($colors, "secondary" , "red");
    }
  }
  .validation-error {
    color: map.get($colors, "secondary" , "red");
    font-size: 14px;
    font-style: italic;
  }

  .w-md-auto{
    @media (min-width: 576px){
      width: auto !important;
    }
  }

  .color-white {
    color: map.get($colors, "white");;
  }

  .boost-links {
    background: map.get($colors, "primary" , "dark-violet") url("./../images/bg-boost-desktop.svg") no-repeat center center;
    background-size: cover;
  }